services:
  postgres:
    image: postgres:15-alpine
    container_name: evolution_postgres
    restart: always
    environment:
      POSTGRES_USER: evolution_user
      POSTGRES_PASSWORD: evolution_password
      POSTGRES_DB: evolution_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: evolution_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: evolution_rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: evolution_user
      RABBITMQ_DEFAULT_PASS: evolution_password
    ports:
      - "5672:5672"   # Porta de mensagens
      - "15672:15672" # Painel de Gerenciamento Web
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  postgres_data:
  redis_data:
  rabbitmq_data: